/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

:root {
  --tab-separator-opacity: 0 !important;
}

.toolbar-items {
  height: 100%;
}

#navigator-toolbox-background[verticaltabs='true'] #titlebar {
  display: none;
}

#TabsToolbar {
  background-color: -moz-Dialog;
  max-width: 350px;
  min-width: 150px;
  transition :min-width 150ms ease-in-out, max-width 150ms ease-in-out;
  overflow: hidden;
}

#TabsToolbar:-moz-lwtheme {
  background-image: var(--lwt-additional-images);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color));
}

.tabbrowser-tab {
  max-width: unset;
  width: 100%;
  min-height: unset;
  height: 40px !important;
  max-height: 40px !important;
  transition: min-height 100ms ease-in-out, max-height 100ms ease-in-out;
  margin: 0 !important;
  margin-inline-start: 0 !important;
}

#TabsToolbar .tabbrowser-tab[flex] {
  padding: 0 !important;
}

.tab-background {
  height: 35px
}

.tab-throbber,
.tab-icon-pending,
.tab-icon-image,
.tab-sharing-icon-overlay,
.tab-icon-overlay {
  margin-inline-end: 5.5px;
}

#TabsToolbar-customization-target {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  flex-direction: column;
}

.tabbrowser-tab:not([pinned], [fadein]) {
  min-width: 0.1px;
  max-width: 0.1px;
  max-width: 0.1px;
  max-height: 0.1px;
}

#new-tab-button, #TabsToolbar-customization-target > .toolbarbutton-1  {
  display: inherit !important;
  appearance: inherit !important;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  height: 25px;
}

#new-tab-button image {
  margin-left: 0;
}
#new-tab-button label, #TabsToolbar-customization-target > .toolbarbutton-1  {
  display: none;
}

#new-tab-button:hover, #TabsToolbar-customization-target > .toolbarbutton-1:hover {
  background: var(--toolbarbutton-hover-background);
  color: inherit;
}

#new-tab-button:active, #TabsToolbar-customization-target > .toolbarbutton-1:active {
  background: var(--toolbarbutton-active-background);
  color: inherit;
}

/* Firefox View compatibity. Use "open" instead of open="true" */
#TabsToolbar-customization-target > .toolbarbutton-1[open] {
  background-color: var(--toolbarbutton-active-background);
  color: inherit;
}

#new-tab-button > .toolbarbutton-icon, #TabsToolbar-customization-target > .toolbarbutton-1 > .toolbarbutton-icon,
#TabsToolbar-customization-target > .toolbarbutton-1 > .toolbarbutton-badge-stack {
  background: none !important;
  background-color: unset !important;
  box-shadow: none !important;
}

#new-tab-button > .toolbarbutton-text, #TabsToolbar-customization-target > .toolbarbutton-1 > .toolbarbutton-text {
  background: none !important;
  background-color: unset !important;
  display: inherit !important;
}

.tab-label-container[pinned="true"]::after {
  content: "Pinned";
  font-size: 8.5px;
  margin-top: -5px;
  color: var(--panel-description-color);
  font-weight: bold;
}

:root[customizing] #browser {
  visibility: inherit !important;
  max-height: 300px !important;
}

#TabsToolbar-customization-target > toolbarpaletteitem:not([notransition])[place="panel"], toolbarpaletteitem:not([notransition])[place="toolbar"] {
  transition: max-width 150ms ease-in-out, min-width 150ms ease-in-out;
}

:root[customizing] #TabsToolbar .toolbarbutton-1 > .toolbarbutton-text {
  display: inherit !important;
}

#tabbrowser-arrowscrollbox::part(scrollbutton-up), #tabbrowser-arrowscrollbox::part(scrollbutton-down) {
  max-height: 0px;
  visibility: hidden;
}

#TabsToolbar-customization-target > toolbarpaletteitem:not([notransition])[place="panel"], toolbarpaletteitem:not([notransition])[place="toolbar"] {
  max-width: 0ms ease-in-out !important;
  min-width: 0ms ease-in-out !important;
}

#TabsToolbar-customization-target > #search-container {
  flex: unset !important;
  margin: 5px;
  min-width: -moz-available;
}

#new-tab-button > .toolbarbutton-icon {
  padding: 8px;
  height: 32px !important;
  width: 32px !important;
}

#tabbrowser-tabs {
  border-inline-start: none;
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
  border-bottom: solid var(--toolbarseparator-color) 0.1px;
  border-top: solid var(--toolbarseparator-color) 0.1px;
  border-inline-start: none !important;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 0 !important;
  margin-bottom: 10px !important;
}

#tabbrowser-arrowscrollbox-periphery {
  display: none;
}

#firefox-view-button[role] > .toolbarbutton-icon[label] {
  padding: 0px !important;
  width: 16px !important;
  height: 16px !important;
}

#TabsToolbar > .titlebar-spacer[type="pre-tabs"], #TabsToolbar > .titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox[flex] > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}

.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"])[is] {
  max-width: -moz-available !important;
}

#tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] {
  position: inherit !important;
  display: block !important;
  margin-inline-start: 0 !important;
}

#TabsToolbar[multibar] .tabbrowser-tab {
  max-width: -moz-available !important;
  width: -moz-available !important;
  min-width: -moz-available !important;
}

#verticaltab-splitter {
  background: var(--toolbar-bgcolor);
  width: 8px;
}


#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([visuallyselected]) .tab-close-button[class] {
  visibility: visible !important;
  opacity: 1 !important;
}

#TabsToolbar[multibar] .tabbrowser-tab:not([pinned]):not(:first-of-type) {
  margin-inline: 0px !important;
}

:is(:root[inDOMFullscreen],
:root[inFullscreen]:not([macOSNativeFullscreen]),
*|*:root[chromehidden~="toolbar"])
#TabsToolbar {
  display: none;
}

/* Ui */
#tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox::part(scrollbox) {
  padding-inline: 0px !important;
}
