/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#tabbrowser-tabpanels[split-view="true"] {
  display: flex;
  flex-direction: row;
}

#tabbrowser-tabpanels[split-view="true"] > *:not([split="true"]) {
  flex: 0;
  margin: 0 !important;
}

#tabbrowser-tabpanels[split-view="true"] > [split="true"] {
  flex: 1;
  margin-right: 5px !important;
}

#tabbrowser-tabpanels:has(> [split="true"]) {
  display: flex;
  flex-direction: row;
}

deck > .deck-selected,
tabpanels > [split="true"] {
  -moz-subtree-hidden-only-visually: 0 !important;
  visibility: visible !important;
}

.browserSidebarContainer {
  flex: 0 !important;
}
